* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.2em;
}

h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
}

.main {
    padding: 25px;
    border-radius: 10px;
    width: 50%;
    border: 5px solid royalblue;
    background: lightblue;
    display: flex;
    flex-direction: column;
}

.main .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.main .buts {
    display: flex;    
}

.main .buts button {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    background: #333;
    color: #f4f4f4;
    border-right: 5px solid white;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.main .buts button:last-child {
    border-right: none;
}

.main .buts button:hover {
    background-color: royalblue;
}

@media (min-width: 900px) and (max-width: 1150px) {
    /* body {
        background: seagreen;
    } */

    h1 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.2em;
    }

    .main .buts button {
        font-size: 1.2em;
        letter-spacing: 1px;
        padding: 8px;
    }
}

@media (min-width:600px) and (max-width: 899px) {
    /* body {
        background: lightsalmon;
    } */

    .main {
        width: 60%;
    }

    h1 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.1em;
        padding-right: 9px;
    }

    .main .buts button {
        font-size: 1.1em;
        letter-spacing: 1.5px;
        padding: 7px;
    }
}

@media (min-width:480px) and (max-width: 599px) {
    /* body {
        background: lightcoral;
    } */

    .main {
        width: 70%;
    }

    h1 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1em;
        padding-right: 9px;
    }

    .main .buts button {
        font-size: 1em;
        letter-spacing: 1.5px;
        padding: 6px;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    /* body {
        background: lightseagreen;
    } */

    .main {
        width: 80%;
    }

    h1 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1em;
        padding-right: 9px;
    }

    .main .buts button {
        font-size: 1em;
        letter-spacing: 1.5px;
        padding: 5px;
    }
}
@media  (max-width: 399px) {
    /* body {
        background: tomato;
    } */

    .main {
        width: 95%;
    }

    h1 {
        font-size: 1.1em;
    }
    
    h3 {
        font-size: 0.8em;
        padding-right: 9px;
    }

    .main .buts button {
        font-size: 0.9em;
        letter-spacing: 1.2px;
        padding: 5px;
    }
}